VITE_API_URL=http://localhost:8080
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/workout_wojtur
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=secret
POSTGRES_DB=workout_wojtur
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret